.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

log/
eval/
outputs/
runs/
wandb/
checkpoints/
checkpoint/

*.log
*.tmp
*.bak
*.bak_*

light_vmt_outputs/
train_output/
train_output_small/

.DS_Store
Thumbs.db
